# Database
DATABASE_URL=""

# NextAuth
NEXTAUTH_URL=""
NEXTAUTH_SECRET=""

# Stripe
STRIPE_SECRET_KEY=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_WEBHOOK_SECRET=""
# Your pairing code is: scenic-gem-savvy-fervid
# account id acct_1SFXDeQFC6B4mVgC


# App
NEXT_PUBLIC_APP_URL=""
